.main {
  display: flex;
}

.nav {
  border-right: solid;
  width: 30%;
  padding: 1rem;
}

.appTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.children {
  padding: 1rem;
}
